body {
  margin: auto;
  width: 1600px;
  font-family: 'Roboto', sans-serif;
  max-width: 1600px;
}

.first_screen {
  height: 744px;
  max-width: 1600px;

}

.bg_image {
  position: absolute;
}

.header {
  height: 95px;
  max-width: 1600px;
}

button {
  text-decoration: none;
}

.header a {
  text-decoration: none;
  position: absolute;
  height: 20px;
  top: 38px;
  font-size: 14px;
  line-height: 140%;

  display: flex;
  align-items: center;

  color: #FFFFFF;

  opacity: 0.8;
}

.header a:hover {
  border-bottom: 1px solid #FFFFFF;
  opacity: 1;
}

.logo {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 778px;
  top: 25px;

}



.first_screen_heading {
  position: absolute;
  margin: 0px;
  height: 75px;
  left: 437px;
  top: 230px;

  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.first_screen_description {
  position: absolute;
  width: 504px;
  height: 50px;
  left: 548px;
  top: 325px;
  margin-top: 0px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  font-weight: normal;
}

.btn {
  margin-top: 0;
  width: 184px;
  height: 46px;
  background-color: #00AFDB;
  border: none;
  display: inline-block;
  font-size: 14px;
  padding: 15px 0px;
  position: absolute;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 12px;
  margin-left: -1px;
}


.btn a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  line-height: 16px;
}

.btn:hover {
  background-color: #009CC2;
}

.social_icons {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 715px;
  margin-top: 540px;
}

.social_icons a {
  position: absolute;
  width: 20px;
  height: 20px;
}



.second_screen {
  width: 1600px;
  height: 722px;
  background: #FFFFFF;
}

.second_screen_content {
  width: 1062px;
  margin: 120px 269px 140px;
}

.second_screen_content img {
  width: 407px;
  height: 582px;
  float: right;
}

.second_screen_text {
  width: 407px;
  height: 233px;
  padding: 159px 1px;
}

.second_screen_text h2 {
  font-weight: bold;
  height: 57px;
  width: 367px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin-top: 16px;
}

.second_screen_text p {
  width: 407px;
  height: 80px;
  font-size: 14px;
  line-height: 147%;
  color: #4E4E4E;
}

.btn_2 {
  width: 184px;
  height: 46px;
  background-color: #00AFDB;
  border: none;
  display: inline-block;
  font-size: 14px;
  padding: 15px 0px;
  position: absolute;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 16px;
  margin-left: -1px;
}

.btn_2 a {
text-decoration: none;
color: #ffffff;
font-weight: bold;
}


.third_screen {
  width: 1600px;
  height: 504px;
  background-color: #F5F6F7;
}

.third_screen_content {
  height: 244px;
  width: 1331px;
  padding: 120px 0 0 269px;
}

.third_screen_text {
  width: 298px;
  height: 175px;
  text-align: center;
  color: #4E4E4E;
  position: absolute;
  margin-top: 35px;
}

.third_screen_text img {
  margin-right: 0;
}

.third_screen_text h3 {
  height: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin: auto;
  padding: 16px 0 0 2px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.third_screen_text p {
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #4E4E4E;
  margin: 13px 2px 0 1px;
}

.two_sliders {
  width: 894px;
  height: 244px;
  float: right;

}

.two_sliders img:nth-child(2) {
  padding-left: 26px;
}

.two_sliders img:nth-child(3) {
  padding-left: 26px;
}

.slider_nav {
  width: 83px;
  height: 18px;
  margin-left: 1248px;
  padding-top: 82px;
  position: absolute;
}

.arrow_left {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

}

.arrow_left:hover {
  opacity: 5;
}

.arrow_right {
  position: relative;
  display: inline-block;
}

.arrow_right:hover {
  opacity: 5;
}

.inner_slider_nav {
  position: relative;
  display: inline-block;
  margin: 0 12px;
}

.first_element {
  display: inline-block;
}

.second_element {
  display: inline-block;
}

.third_element {
  display: inline-block;
}


.fourth_screen {
  width: 1600px;
  height: 722px;
  background: #FFFFFF;
}

.fourth_screen_content {
  width: 953px;
  height: 582px;
  margin: 120px 370px 140px 269px;
}

.fourth_screen_content img {
  width: 407px;
  height: 582px;
  float: left;
}

.fourth_screen_text {
  width: 407px;
  height: 284px;
  padding: 175px 0;

  float: right;
}

.fourth_screen_text h2 {
  font-weight: bold;
  height: 57px;
  width: 367px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin: 24px 0 0 1px;
}

.fourth_screen_text p {
  width: 407px;
  height: 80px;
  font-size: 14px;
  line-height: 145%;
  color: #4E4E4E;
  margin: -8px 0 -3px 0;
}
.btn_3 {
  width: 180px;
  height: 46px;
  background-color: #00AFDB;
  border: none;
  display: inline-block;
  font-size: 14px;
  padding: 15px 0px;
  position: absolute;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 12px;
  margin-left: 0;
}

.btn_3 a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  }

.fifth_screen {
  width: 1600px;
  height: 524px;
}

.fifth_screen_content {
  width: 406px;
  height: 104px;
  padding: 200px 597px 220px 597px;
}

.fifth_screen_content h2 {
  position: absolute;
  width: 380px;
  height: 28px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  color: #FFFFFF;
  padding-left: 14px;
}

.email {
  margin-top: 58px;
  position: absolute;
  width: 336px;
  height: 44px;

  background: #FFFFFF;
  border-radius: 0px;
  border: none;
}

.input button {
  width: 66px;
  height: 46px;
  margin: 58px 0 0 340px;
  border: none;
  background-color: #00AFDB;
}
.input button img {
  padding-top: 4px;
  padding-left: 1px;
}

::placeholder {
  position: absolute;
  width: 39px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
  color: #373737;
  padding-left: 22px;
  opacity: 0.5;
}


.sixth_screen {
  width: 1600px;
  height: 464px;
  background: #F5F6F7;
  position: absolute;
}

.sixth_screen_content {
  width: 480px;
  height: 164px;
  margin: 120px 560px 180px;
  text-align: center;
}


.sixth_screen_content h2 {
  height: 28px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 115px;
  color: #373737;
}

.sixth_screen_content p {
  width: 480px;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4E4E4E;
}


.apple-store {
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: absolute;
  width: 186px;
  height: 46px;
  left: 599px;
  top: 238px;
  border: none;
  background: #00AFDB;
}

.apple-store div {
  position: absolute;
  width: 127px;
  height: 46px;
  left: 0px;
  top: 0px;

  border-radius: 0px;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
}

.apple-store span {
  position: absolute;
  width: 91px;
  height: 16px;
  left: calc(50% - 91px/2);
  top: calc(50% - 16px/2);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.apple-store img {
  position: absolute;
  width: 59px;
  height: 46px;
  left: 127px;
  top: 0px;

  background: #009CC2;
  border-radius: 0px;
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 0px;
}

.apple-store:hover {
  background: #009CC2;
}

.google-store {
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: absolute;
  width: 186px;
  height: 46px;
  left: 815px;
  top: 238px;
  background: #00AFDB;
  border: none;
}

.google-store div {
  position: absolute;
  width: 127px;
  height: 46px;

  border-radius: 0px;
  order: 0;
  align-self: center;
  margin: 0px 0px;
}

.google-store span {
  position: absolute;
  height: 16px;
  left: calc(50% - 94px/2);
  top: calc(50% - 16px/2);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.google-store img {
  position: absolute;
  width: 59px;
  height: 46px;
  left: 127px;
  top: 0px;

  background: #009CC2;
  border-radius: 0px;
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 0px;
}

.google-store:hover {
  background: #009CC2;
}

button:hover {
  background-color: #009CC2;
}

.footer {
  width: 1600px;
  height: 185px;
  margin-top: 464px;
  background-color: #000000;
}

.logo_copy {
  width: 44px;
  height: 45px;
  margin-left: 778px;
  margin-top: 60px;
  position: absolute;
}


.copyright {
  position: absolute;
  width: 170px;
  height: 20px;
}
.copyright p {
  position: absolute;
  width: 170px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-left: 1270px;
  margin-top: 73px;
  color: #818181;
}

.nav-items {
  position: absolute;
  width: 236px;
  height: 20px;
  margin-left: 160px;
  margin-top: 73px;
}

.additional-menu {
  position: absolute;
  width: 236px;
  height: 20px;
}

.additional-menu a {
  text-decoration: none;
  position: absolute;
  height: 20px;
  font-size: 14px;
  line-height: 20px;


  color: #FFFFFF;
}

.additional-menu span {
  padding: 0%;
  position: absolute;
  width: 8px;
  height: 0px;
  top: 10px;
  
  border: 1px solid #4E4E4E;
  transform: rotate(-90deg);
}

.additional-menu a:hover {
  opacity: 0.5;
}